@if (editando()) {
  <form (submit)="atualizarProduto($event)" class="edicao-form">
    <input type="text"   [formField]="produtoForm.nome"      placeholder="Nome" />
    <input type="text"   [formField]="produtoForm.descricao" placeholder="Descrição" />
    <input type="number" [formField]="produtoForm.estoque"   placeholder="Estoque" />
    <input type="number" [formField]="produtoForm.preco"     placeholder="Preço" />

    <div class="buttons flex gap-2">
      <button type="submit" class="p-button-success">Salvar</button>
      <button type="button" class="p-button-secondary" (click)="atualizarEdicao()">Cancelar</button>
    </div>
  </form>
} @else {
  <button type="button" class="p-button p-button-sm button" (click)="atualizarEdicao()">Alterar</button>
}